.dash {
    display: flex;
    justify-content: space-between;
    flex-direction: ;
}

.time {
    margin-left: 5rem;
}

.content-area {
    width: 100% !important;
}

.hidden {
    display: none;
  }
  