/* footer start */

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #ccd1e0;
}

.footer-text {
    text-align: center;
}

.footer-email-address {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

.footer-email-address:hover {
    color: hsl(359, 100%, 70%);
}

/* footer end */